<section id="feature">
  <div class="container">
    <div class="row">
        <div class="col-md-3 wow fadeInRight" >
            <img src="~assets/images/cup.png" class="img-responsive" alt="feature img">
          </div>
      <div class="col-md-4 wow fadeInLeft">
        <h2 class="text-uppercase">參賽資格:</h2>
          <ul style="font-size:1.3em">
            <li>全港中、小學生及大中華地區</li>
            <li>比賽分為中學組及小學組</li>
            <li>以隊際形式進行，每隊為4人</li>
          </ul>
          <p>
              <a class="btn btn-primary" 
              href="assets/rule-and-specification.pdf" 
              target="_blank">比賽資料及規則</a>
          </p>
      </div>
      
    </div>
  </div>

  <div class="container">
    <div class="row">
      
      <div class="col-md-6 wow fadeInUp" >
        <h2 class="text-uppercase">比賽詳情</h2>
        <div style="font-size:1.3em">
          <p>比賽日期 : 2018年5月26-27日(小學組26日、中學組27日)</p>
          <p>比賽地點 : 香港數碼港廣場</p>
          <p>報名方式 : 填妥網上表格後遞交</p>
          <p>截止報名日期 : 2018年4月30日</p>
          <p>中學組比賽獎項 :<br>
              冠、亞、季、一等奬、二等獎
          </p>
          <p>小學組比賽獎項 :<br>
            冠、亞、季、一等奬、二等獎
         </p>
        </div>
    </div>
    <div class="col-md-6 wow fadeInUp" >
        <img src="~assets/images/circuit.jpg" class="img-responsive" alt="feature img">
        <!-- &nbsp; -->
      </div>
  </div>
</section>
