<section id="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>進行方式:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 wow fadeInUp templatemo-box"
        data-wow-delay="0.3s">
        <i class="fa fa-globe"></i>
        <p>參賽同學需根據地圖上的路線及距離，經過精確計算後輸入指定程式碼驅動電動車完成比賽。</p>
    </div>
    <div class="col-md-4 wow fadeInUp templatemo-box"
      data-wow-delay="0.3s">
      <i class="fa fa-camera"></i>
      <p>大會提供指定電動車供同學組裝及設計獨特的外型。</p>
  </div>
  <div class="col-md-4 wow fadeInUp templatemo-box"
    data-wow-delay="0.3s">
    <i class="fa fa-laptop"></i>
    <p>比賽當天參加隊伍需自行帶備電動車、相關配件及手提電腦依指定時間到達比賽場地進行比賽。 </p>
    </div>
    </div>
    </div>
</section>
