<section id="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
          <h1 >第二屆全港學界電動車程式賽(大灣區盃)</h1>
          <h3>Student Formula Coding Competition 2nd (Greater Bay area Cup)</h3>
          <h4>透過建構電動車設計程式參加大賽，激發學生創意和解難能力，從過程中引起學生對電腦程式運用的興趣，由計算思維而發展其他創新科技能力。</h4>
          <p><a style="font-size: 2.3em" class="btn btn-lg btn-warning" href="http://goo.gl/5tLUBc" target="_blank">立即報名</a></p>
          <img src="~assets/images/car-group.png" class="img-responsive" alt="home img" style="filter:drop-shadow(5px 5px 5px #FFFFFF);">
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</section>
