<section id="contact">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <h2 class="text-uppercase">聯絡我們</h2>
          <p>如有任何查詢或需要技術支援，歡迎致電或電郵給我們</p>
          <address>
            <p><i class="fa fa-map-marker"></i>數碼港3座F區9樓38室</p>
            <p><i class="fa fa-phone"></i>＋852 2783 0868</p>
            <p><i class="fa fa-envelope-o"></i> <a style="color:lightyellow" href="mailto:iotsolutionltd@gmail.com" target="_blank">iotsolutionltd@gmail.com</a></p>
          </address>
        </div>
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</section>
