<section id="contact">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <h2 class="text-uppercase">聯絡我們</h2>
          <p>如有任何查詢或需要技術支援，歡迎致電或電郵給我們</p>
          <address>
            <p><i class="fa fa-map-marker"></i>數碼港3座D區3樓7室</p>
            <p><i class="fa fa-phone"></i>＋852 9871 8432</p>
            <p><i class="fa fa-envelope-o"></i> <a style="color:lightyellow" href="mailto:ben@iotsolution.hk" target="_blank">ben@iotsolution.hk</a></p>
          </address>
        </div>
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <img src="~assets/images/car-group.png" class="img-responsive" alt="home img" style="filter:drop-shadow(5px 5px 5px #FFFFFF);">
             <p><a class="btn btn-lg btn-warning" href="http://goo.gl/5tLUBc" target="_blank">立即報名</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
