<section id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>相關機構</h2>
      </div>
    </div>
    <div class="row" style="font-size:1.3em">
      <div class="col-md-2">
        <h4>主辦機構</h4>
      </div>
      <div class="col-md-5">
        <img src="~assets/images/logo_iot.png" class="img-responsive" alt="feature img" style="height: 3em;">
      </div>
      <div class="col-md-1" >
          <p>&nbsp;</p>
        </div>
      <div class="col-md-2">
          <h4>支持單位</h4>
        </div>
        <div class="col-md-2" >
          <img src="~assets/images/logo_cyberport.png" class="img-responsive" alt="feature img"  style="height:3em;top:-.3em">
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        &nbsp;
      </div>
    </div>
    <div class="row" style="font-size:1.3em">
        <div class="col-md-2">
          <h4>合辦機構</h4>
        </div>
        <div class="col-md-5" >
          <img src="~assets/images/logo_hkae.png" class="img-responsive" alt="feature img" style="height: 3em;">
          <img src="~assets/images/logohkeeia.png" class="img-responsive" alt="feature img" style="height: 3em;">
          <img src="~assets/images/logo_itle.png" class="img-responsive" alt="feature img" style="height: 3em;">
          <img src="~assets/images/logo_eggtechs.png" class="img-responsive" alt="feature img" style="height: 3em;">
        </div>
        <div class="col-md-1" >
            <p>&nbsp;</p>
          </div>
        <div class="col-md-2" >
            <h4>術技支援</h4>
          </div>
          <div class="col-md-2" >
              
            <img src="~assets/images/logo_cityu.png" class="img-responsive" alt="feature img"  style="height:3em;">
            <img src="~assets/images/logo_astri.png" class="img-responsive" alt="feature img"  style="height:3em;">
            <img src="~assets/images/logo3dir.jpeg" class="img-responsive" alt="feature img"  style="height:3em;">
          </div>
      </div>
  </div>
</section>
