<section id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>相關機構</h2>
      </div>
    </div>
    <div class="row" style="font-size:1.3em">
      <div class="col-md-2 wow fadeInLeft">
        <h4>主辦機構</h4>
      </div>
      <div class="col-md-5 wow fadeInRight">
        <img src="~assets/images/logo_iot.png" class="img-responsive" alt="feature img" style="height: 3em;">
      </div>
      <div class="col-md-1 wow fadeInLeft" >
          <p>&nbsp;</p>
        </div>
      <div class="col-md-2 wow fadeInLeft">
          <h4>場地</h4>
        </div>
        <div class="col-md-2 " >
          <img src="~assets/images/logo_cyberport.png" class="img-responsive" alt="feature img"  style="height:3em;top:-.3em">
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        &nbsp;
      </div>
    </div>
    <div class="row" style="font-size:1.3em">
        <div class="col-md-2 wow fadeInLeft" data-wow-delay="0.6s">
          <h4>合辦機構</h4>
        </div>
        <div class="col-md-5 wow fadeInRight" data-wow-delay="0.6s">
          <img src="~assets/images/logo_hkae.png" class="img-responsive" alt="feature img" style="height: 3em;">
          <img src="~assets/images/logo_itle.png" class="img-responsive" alt="feature img" style="height: 3em;">
          <img src="~assets/images/logo_eggtechs.png" class="img-responsive" alt="feature img" style="height: 3em;">
        </div>
        <div class="col-md-1 wow fadeInLeft" data-wow-delay="0.6s">
            <p>&nbsp;</p>
          </div>
        <div class="col-md-2 wow fadeInLeft" data-wow-delay="0.6s">
            <h4>術技支援</h4>
          </div>
          <div class="col-md-2 wow fadeInRight" data-wow-delay="0.6s">
            <img src="~assets/images/logo_astri.png" class="img-responsive" alt="feature img"  style="height:3em;">
          </div>
      </div>
  </div>
</section>
